*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth; 
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* background-color: #EDEDED; */
}

.burger{
    display: none;
}

.header {
    display: flex;
    flex-direction: column;
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 80%;
    background-color: #444444;
}

.nav-list {
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.nav-item a {
    text-decoration: none;
    color: #EDEDED;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-item a:hover {
    border-bottom: 2px solid #EDEDED;
}

.contaner {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    width: 80%;
    background-color: #444444; 
}

.header-photo {
    margin-left: 20px;
    position: absolute;
}

.header-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-end;
    color: #171717;
    text-transform: uppercase;
    background-color: #DA0037;
    margin-top: 50px;
    margin-left: auto;
    width: 90%;
    height: 20%;
}

.name {
    font-size: 35px;
    margin: 10px 20px 0px 0px;
}

.subtitle-name {
    margin: 10px 20px 10px 0px;
    font-size: 25px;
    font-weight: 400;
}